{% extends "package/snippets/additional_info.html" %}

{%- set exclude_fields = [
    'id',
    'title',
    'name',
    'notes',
    'tag_string',
    'license_id',
    'owner_org',
    ] -%}

{% block package_additional_info %}
  {%- for field in schema.dataset_fields -%}
    {%- if field.require_logged_in and c.user or not field.require_logged_in -%}
      {%- if (field.conditional_field and pkg_dict[field.conditional_field] in field.conditional_values) or not field.conditional_field -%}
        {%- if field.field_name not in exclude_fields
            and field.display_snippet is not none -%}
        {%- if field.field_name in pkg_dict and pkg_dict[field.field_name] != '' and pkg_dict[field.field_name] != [] -%}
          <tr>
            <th scope="row" class="dataset-label">{{
              h.scheming_language_text(field.label) }}</th>
            <td class="dataset-details"
                {%- if field.display_property -%} property="{{ field.display_property}}"{%- endif -%}>
                {%- snippet 'scheming/snippets/display_field.html',
                    field=field, data=pkg_dict, schema=schema -%}
            </td>
          </tr>
        {%- endif -%}
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{% endblock %}
